@import './media';
.right{
    background-color: #252A40 ;
    .box-right{
        margin-top: 10px;
        margin-left: 14px;
        border-radius: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 97vh;
        width: 48vw;
        .header {
            margin-top: 20px;
            padding: 30px 40px;
            background-color: white;

            .title-right {
                font-size: 25px;
                color: #5f606d;
                line-height: 1;
            }
            .span-right {
                font-size: 12px;
                font-weight: normal;
                color: #C3C3C4;
            }

            .user-wrapper{
                display: flex;
                flex-direction: row-reverse;
                .icon-wrapper3 {
                    padding: 10px;
                    margin: 0px -25px;
                    .icon-image3{
                        border-radius: 40px;
                        border: white 2px solid;
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                    }
                }
                .icon-wrapper {
                    padding: 10px;
                    margin: 0px -25px;
                    .icon-image{
                        border-radius: 40px;
                        border: white 2px solid;
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                    }
                }
                .icon-wrapper2 {
                    padding: 10px;
                    .icon-image2{
                        border-radius: 40px;
                        border: white 2px solid;
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                    }
                }
                .icon-wrapper4 {
                    padding: 10px;
                    margin-left: 15px;
                    margin-top: 5px;
                    .icon-image4{
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                }
            }
        }
        .today {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 40px;
            .title-today {
                font-weight: bold;
                font-size: 18px;
                color: #5f606d;
            }
            .dot {
                font-size: 18px;
                font-weight: bold;
                color: #5f606d;
            }
        }
        hr{
            width: 42vw;
            margin-left: 40px;
            margin-bottom: 10px;
            border-top: 1px solid #C3C3C4 ;
        }
        .footer {
            display: flex;
            align-items: center;
            padding: 40px 40px;
            button{
                position:absolute;
                bottom:0;
                right:0;
                margin-bottom: 40px;
                margin-right: 30px;
                background-color: #864ACA;
                border-radius: 10px;
                border: none;
                color: white;
                padding: 12px 16px;
                font-size: 16px;
                cursor: pointer;
                box-shadow: 1px 5px 7px #864ACA;
            }
        }
        .content{
            max-width: 550px;
            margin: auto;
            width: 100%;
            flex: 1;         
            .content-wrapper {
                display: flex;
                margin-right: 20px;
                margin-top: 10px;
                .item{
                    margin-left: 20px;
                    display: grid;
                    grid-template-columns: 1fr 4fr 1fr;
                    p {
                        margin-top: 8px;
                        font-size: 15px;
                        color: #C3C3C4;   
                    }
                    img {
                        margin-top: 1px;
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                        border-radius: 40px;
                        border: 2px #C3C3C4 solid;
                    }
                    button {
                        margin-top: 5px;
                        border-radius: 20px;
                        border: #b5fafbb4 solid 2px;
                        height: 30px;
                        font-weight: bold;
                        color: white;
                        width: 100px;
                    }
                }
            }
        }
        
        @media (min-width: 940px) {
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }        
    }
}
