* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .left {
  background-color: #252A40;
  display: -ms-grid;
  display: grid;
}

main .left .box-left {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

main .left .box-left .title-left {
  color: white;
  font-size: 35px;
}

main .left .box-left .text-2 {
  font-size: 15px;
  color: #54596D;
}

main .left .box-search {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

main .left .box-search .search {
  font-size: 16px;
  background-color: #3A3F53;
  width: 330px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

main .left .box-search .search .text-search {
  margin-top: 11px;
  padding-left: 15px;
  color: #B4B6CA;
}

main .left .box-search .search .fa {
  padding-right: 20px;
}

main .left .box-project {
  width: 330px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 60px;
}

main .left .box-project .text-project {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

main .left .box-project .text-project .span-text {
  font-size: 13px;
  color: #54596D;
}

main .left .box-project .galery {
  gap: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (80px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 80px);
}

main .left .box-project .title {
  gap: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (80px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 80px);
  margin-bottom: 20px;
}

main .left .box-project .title-image {
  font-size: 12px;
  color: #54596D;
  text-align: center;
}

main .left .box-project .galery img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: #252A40  5px solid;
  border-radius: 20px;
}

main .right {
  background-color: #252A40;
}

main .right .box-right {
  margin-top: 10px;
  margin-left: 14px;
  border-radius: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 97vh;
  width: 48vw;
}

main .right .box-right .header {
  margin-top: 20px;
  padding: 30px 40px;
  background-color: white;
}

main .right .box-right .header .title-right {
  font-size: 25px;
  color: #5f606d;
  line-height: 1;
}

main .right .box-right .header .span-right {
  font-size: 12px;
  font-weight: normal;
  color: #C3C3C4;
}

main .right .box-right .header .user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .right .box-right .header .user-wrapper .icon-wrapper3 {
  padding: 10px;
  margin: 0px -25px;
}

main .right .box-right .header .user-wrapper .icon-wrapper3 .icon-image3 {
  border-radius: 40px;
  border: white 2px solid;
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .right .box-right .header .user-wrapper .icon-wrapper {
  padding: 10px;
  margin: 0px -25px;
}

main .right .box-right .header .user-wrapper .icon-wrapper .icon-image {
  border-radius: 40px;
  border: white 2px solid;
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .right .box-right .header .user-wrapper .icon-wrapper2 {
  padding: 10px;
}

main .right .box-right .header .user-wrapper .icon-wrapper2 .icon-image2 {
  border-radius: 40px;
  border: white 2px solid;
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .right .box-right .header .user-wrapper .icon-wrapper4 {
  padding: 10px;
  margin-left: 15px;
  margin-top: 5px;
}

main .right .box-right .header .user-wrapper .icon-wrapper4 .icon-image4 {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .right .box-right .today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
}

main .right .box-right .today .title-today {
  font-weight: bold;
  font-size: 18px;
  color: #5f606d;
}

main .right .box-right .today .dot {
  font-size: 18px;
  font-weight: bold;
  color: #5f606d;
}

main .right .box-right hr {
  width: 42vw;
  margin-left: 40px;
  margin-bottom: 10px;
  border-top: 1px solid #C3C3C4;
}

main .right .box-right .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 40px;
}

main .right .box-right .footer button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 30px;
  background-color: #864ACA;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 7px #864ACA;
          box-shadow: 1px 5px 7px #864ACA;
}

main .right .box-right .content {
  max-width: 550px;
  margin: auto;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .right .box-right .content .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-top: 10px;
}

main .right .box-right .content .content-wrapper .item {
  margin-left: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
}

main .right .box-right .content .content-wrapper .item p {
  margin-top: 8px;
  font-size: 15px;
  color: #C3C3C4;
}

main .right .box-right .content .content-wrapper .item img {
  margin-top: 1px;
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 40px;
  border: 2px #C3C3C4 solid;
}

main .right .box-right .content .content-wrapper .item button {
  margin-top: 5px;
  border-radius: 20px;
  border: #b5fafbb4 solid 2px;
  height: 30px;
  font-weight: bold;
  color: white;
  width: 100px;
}

@media (min-width: 940px) {
  main .right .box-right .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */