* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    @import '_leftLayout';
    @import '_rightLayout';
}
